/* -- ELEMENT STYLING ------------------------------------------------------------------------------------------------*/
body {
    font-family: sans-serif;
    margin: 0px;
}

body *:focus {
    outline:none;
    border-style: solid;
    border-color: #0b7fd7;
    border-radius: 7px;
    border-width: 2px;
}

input:not(input[type="checkbox"]) {
    width: 100%;
}

input:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
    pointer-events: none;
}

a {
    color: #65a3d1;
}

button {
    height: 50px;
    width: 100%;
}
button:hover:not(button:disabled) {
    cursor:pointer;
}

button:disabled {
    cursor:not-allowed;
}

iframe {
    display: block;
    margin: 0 auto;
}


/* -- FORM CLASS STYLING ---------------------------------------------------------------------------------------------*/

.login-page {
    background-image: url("images/login-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.form-container {
    margin: auto;
    padding: 5px 20px;
    width: 270px;
    background-color: white;
    border: none;
    border-radius: 7px;

}

.form-title {
    color: #e70002;
    text-align: center;
    font-size: 3em;
    margin-bottom: 0px;
}

.form-title a {
    color: black;
}
.form-container input {
    height: 30px;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: #bdbdbd;
}




.input-container {
    margin-top: 20px;
}

/* -- BUTTON CLASS STYLING -------------------------------------------------------------------------------------------*/

.button-red {
    background-color: #d20002;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 7px;
}

.button-red:disabled {
    background-color: #af4748;
}

.button-red:hover:not(.button-red:disabled) {
    background-color: #ff0003;
}

.button-black {
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
}

.button-black:disabled {
    background-color: #333030;
}

.button-black:hover:not(.button-black:disabled) {
    background-color: #2d2d2d;
}

/* -- BUTTON IN FORM STYLING -----------------------------------------------------------------------------------------*/

.form-container .button-red {
    margin: 20px 0px;
}

/* -- INDEX PAGE STYLING ---------------------------------------------------------------------------------------------*/
.top-section {
    position: relative;
}
.background__image {
    z-index: 1;
    width: 100%;
    height: 30rem;
    object-fit: cover;
}
.film__collection {
    padding-left: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    color: white;
}
.flex-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
.ranking__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.ranking {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ranking__count {
    color: #ff0003;
    font-size: 100px;
    font-weight: bolder;
}
.poster {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 200px;
    background-image: url("/images/placeholder_film.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.poster:hover {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(121, 109, 109, 0.2);
    box-shadow: 5px 5px 15px 5px rgba(121, 109, 109, 0.2);
    cursor: pointer;
}

.poster img {
    width: 150px;
    height: 200px;
}

.black-overlap {
    overflow: hidden;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .50);
    width: 100%;
    height: 100%;

}

.poster span {
    color: white;
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

/* -- FILM PAGE ------------------------------------------------------------------------------------------------------*/
.rating {
    color: #d20002;
}

.rating span {
    color: lightgrey;
}