<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${film.name}"></title>
    <link rel="stylesheet" href="style.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <div th:replace="header :: header"></div>
    <div class="content">
        <iframe width="790" height="400" th:src="${'https://www.youtube.com/embed/'  + film.description + '?modestbranding=1&autohide=1&showinfo=0&controls=0?autoplay=1'}" title="Marvel Studios Avengers: Infinity War Official Trailer" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
        <div>
            <h2>Actors</h2>
            <div class="round-button"><</div>
            <div class="poster" th:each="actor : ${actors.subList(0, 6)}">
                <img th:src="@{/images/{picture}(picture=${actor.img})}"/>
                <div class="black-overlap">
                    <span th:text="${actor.firstname} + ' ' + ${actor.lastname}"></span>
                </div>

            </div>
            <div class="round-button">></div>
            <h2>Details</h2>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td th:text="${film.name}"></td>
                    </tr>
                    <tr>
                        <td>Cost</td>
                        <td th:text="${film.cost} >= 1000000? ${film.cost / 1000000} + ' million USD': ${film.cost} + 'USD'"></td>
                    </tr>
                    <tr>
                        <td>Rating</td>
                        <td><img width="20px" th:each="i: ${#numbers.sequence(1, 5)}" th:src="@{/images/{star}
                        (star=${film.rating} >= ${i}? 'filled_star.svg': 'empty_star.svg')}"/> <span th:text="${film.rating}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>