<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${film.name}"></title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <iframe width="790" height="400" src="https://www.youtube.com/embed/6ZfuNTqbHE8?modestbranding=1&autohide=1&showinfo=0&controls=0?autoplay=1" title="Marvel Studios Avengers: Infinity War Official Trailer" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
    <div>
        <div class="poster">
            <img th:src="@{/images/{picture}(picture=${actor.img})}"/>
            <div class="black-overlap">
                <span th:text="${actor.firstname} + ' ' + ${actor.surname}"></span>
            </div>

        </div>
    </div>
</body>
</html>