<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marvel+</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div th:each="film : ${films}" class="poster" th:onclick="'window.location =' + '\'' + @{/film?name={name}(name=${film.name})} + '\''">
        <img th:src="@{/images/{image}(image=${film.image})}" th:alt="${film.name}" onerror="this.style.display ='none'"/>
        <div class="black-overlap">
            <span th:text="${film.name}"></span>
        </div>

    </div>
</body>
</html>