<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="style.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="script.js"></script>
</head>
<body class="login-page">
<h1 class="form-title">Marvel<a>+</a></h1>
<form class="form-container" action="#" th:action="@{/register}" onsubmit="disable_input()" method="post">
    <div class="input-container">
        <div>Firstname</div>
        <input type="text" th:field="${user.firstname}"/>
        <div class="error" th:errors="${user.firstname}"></div>
    </div>

    <div class="input-container">
        <div>Lastname</div>
        <input type="text" th:field="${user.lastname}"/>
        <div class="error" th:errors="${user.lastname}"></div>
    </div>

    <div class="input-container">
        <div>Email</div>
        <input type="email" th:field="${user.email}"/>
        <div class="error" th:errors="${user.email}"></div>
    </div>

    <div class="input-container">
        <div>age</div>
        <input type="number" th:field="${user.age}"/>
        <div class="error" th:errors="${user.age}"></div>
    </div>
    <div>
        <div>Password</div>
        <input type="password" th:field="${user.password}"/>
        <div class="error" th:errors="${user.password}"></div>
    </div>
    <div>
        <div>Confirm Password</div>
        <input type="password" th:field="${user.confirmPassword}"/>
        <div class="error" th:errors="${user.confirmPassword}"></div>
    </div>
    <button type="submit" id="login_button" class="button-red" disabled>Create Account</button>
</form>
</body>
</html>